<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <i class="fas fa-address-book"></i> <!-- Ikonica imenika -->
        Interni Telefonski Imenik Ministarstva Vanjskih Poslova
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <!-- Ostatak navigacije -->
        </ul>
        <% if (isAdmin) { %>
            <a href="/add" class="btn btn-success ml-2">Dodaj Novog Korisnika</a>
        <% } %>
        <% if (req.session && req.session.user) { %>
            <a href="/logout" class="btn btn-danger ml-2">Odjavi se</a>
        <% } else { %>
            <a href="/login" class="btn btn-primary ml-2">Prijavi se</a>
        <% } %>
    </div>
</nav>
