<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Telefonski Imenik</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <!-- Ostatak navigacije -->
        </ul>
        <% if (isAdmin) { %>
            <a href="/add" class="btn btn-success">Dodaj Novog Korisnika</a>
        <% } %>
        <% if (req.session && req.session.user) { %>
            <a href="/logout" class="btn btn-danger">Odjavi se</a>
        <% } else { %>
            <a href="/login" class="btn btn-primary">Prijavi se</a>
        <% } %>
    </div>
</nav>
